// Base
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-base;
  background-color: transparent !important;
}

@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}
