<div class="main">

  <h1>Quizz - CSS</h1>

  <tabs class="box-all" (currentTabChange)="tabChange($event)">
    <div *ngFor="let item of questions; let i = index">
      <tab tabTitle="Questão {{i+1}}" [active]="activeTab[i]">

        <div class="row box-image">
          <img [src]="item.img" />
        </div>

        <div class="row box-title">
          {{ item.title }}
        </div>

        <div class="row">
          <div class="box-question" *ngFor="let question of item.options; let iQuestion = index">
            <input type="radio" [checked]="formGroup.get(i.toString()).value == iQuestion" (click)="checkItem(i, iQuestion)">{{ question }}
          </div>
        </div>

        <div class="row box-submit" *ngIf="i === (questions.length - 1)">
          <button (click)="resetQuiz()">Resetar</button>
          <button [disabled]="!formGroup.valid" (click)="finishQuiz()" data-toggle="modal" data-target=".bs-example-modal-sm">Finalizar</button>
        </div>
      </tab>
    </div>
  </tabs>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div id="modal-title" class="modal-title"></div>
        </div>
        <div id="modal-body" class="modal-body"> </div>
      </div>
    </div>
  </div>
</div>
